[submodule "host/stm32l552/freertos/lib/FreeRTOS-Kernel"]
	path = host/stm32l552/freertos/lib/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "host/stm32l552/taclebench/lib/tacle-bench"]
	path = host/stm32l552/taclebench/lib/tacle-bench
	url = https://github.com/tacle/tacle-bench.git
[submodule "host/stm32l552/tock/lib/tock"]
	path = host/stm32l552/tock/lib/tock
	url = https://github.com/tock/tock.git
[submodule "host/stm32l552/tock/lib/libtock-rs"]
	path = host/stm32l552/tock/lib/libtock-rs
	url = https://github.com/tock/libtock-rs.git
[submodule "tools/qemu-spmp/qemu"]
	path = tools/qemu-spmp/qemu
	url = https://gitlab.com/qemu-project/qemu.git
[submodule "host/riscv32/tock/lib/tock"]
	path = host/riscv32/tock/lib/tock
	url = https://github.com/tock/tock.git
