# SPDX-License-Identifier: GPL-2.0-or-later

# This is for STM32N6 Nucleo Dev Boards (NUCLEO-N657X0-Q).

source ./openocd_scripts/interface/stlink-dap.cfg

set WORKAREASIZE 0x10000

transport select "dapdirect_swd"

set CHIPNAME STM32N657X0
set BOARDNAME NUCLEO-N657X0-Q

# Enable debug when in low power modes
set ENABLE_LOW_POWER 1

# Stop Watchdog counters when halt
set STOP_WATCHDOG 1

# STlink Debug clock frequency
set CLOCK_FREQ 8000

# Reset configuration
# use hardware reset
reset_config srst_only srst_nogate connect_assert_srst
set CONNECT_UNDER_RESET 1
set CORE_RESET 0

# ACCESS PORT NUMBER
set AP_NUM 1
# GDB PORT
set GDB_PORT 3333

source ./openocd_scripts/target/stm32n6x.cfg
