# SPDX-License-Identifier: GPL-2.0-or-later

# This is for STM32L5 Nucleo Dev Boards.
# http://www.st.com/en/evaluation-tools/stm32-mcu-nucleo.html

source ./openocd_scripts/interface/stlink-dap.cfg

transport select dapdirect_swd

source ./openocd_scripts/target/stm32l5x.cfg

# use hardware reset
reset_config srst_only srst_nogate
